@font-face {
    font-family: 'SVN-Aeonik';
    src: url('SVN-AEONIK-REGULAR.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aeonik';
    src: url('SVN-AEONIK-MEDIUM.TTF') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aeonik';
    src: url('SVN-AEONIK-BOLD.TTF') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aeonik';
    src: url('SVN-AEONIK-BLACK.TTF') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Acta';
    src: url('SVN-Acta-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Acta';
    src: url('SVN-Acta-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Acta';
    src: url('SVN-Acta-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Acta';
    src: url('SVN-Acta-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Acta';
    src: url('SVN-Acta-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}